@charset "utf-8";
/* CSS Document */

/*LAYOUT FOR LARGE SCREENS*/
.promo_a { width: 33%; float: left;}
/*HEADER*/

/*NAV*/
nav a {	display: inline-block; font-weight: bold;	padding: 0 20px 0 20px;}

/*WELCOME*/
section.welcome {height: 340px;}
section.welcome {background: url(../images/logo.jpg) no-repeat center 50px;}

/*ABOUT US*/

/*OUR SERVICES*/
.promo { float: left; width: 50%;	height: 250px;}
.promo_img { background: url(../images/img.jpg) no-repeat; width: auto; height: 400px;}

/*SLIDER*/
#slide_front, #slide_back {
	margin-left: 60px;
}
#arrow_wrapper {
	margin-top: 130px;
}
#left, #right {
	height: 60px;
	width: 60px;
	transform: scale(.9, .9);
}
#jumpers {
	margin-top: 200px;
}
/*OUR CLIENTS*/
.client_one {
	background: url(../images/client_1.jpg) no-repeat 0 0;
	width: 320px;
	height: 450px;
}
.client_two, .client_three, .client_four {
	width: 100%;
	height: 150px;
	float: left;
}
.client_two {	background: url(../images/client_dubai.jpg) no-repeat 0 0;}
.client_three {	background: url(../images/client_unilever.jpg) no-repeat 0 0;}
.client_four {	background: url(../images/client_unya.jpg) no-repeat 0 0;}

/*CONTACT US*/
section.contact .small {padding-top: 20px;}
.logo { background: url(../images/contact_img_medium.jpg) no-repeat 0 0; width: 360px; height: 250px;}
