@charset "utf-8";
/* CSS Document */
/*
Responsive Slider v1.0
Author: BRIAN MWASHUKE
email: mwashukeb@outlook.com
*/
/*SLIDER*/
#slider_wrapper {
	z-index: 1;
	position: relative;
	overflow: hidden;
	max-width: 96%;
}
#slide_front, #slide_back {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	background-color: #000000;
}

#controls {
	width: 98%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
#arrow_wrapper {
	width: 98%;
	height: 60px;
	margin-top: 130px;
}
#left, #right {
	height: 60px;
	width: 60px;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
#left { background-image: url(../images/arrow-left.png); float: left;}
#left:hover { background-image: url(../images/arrow-left_hover.png);}
#right {background-image: url(../images/arrow-right.png); float: right;}
#right:hover { background-image: url(../images/arrow-right_hover.png);}

#jumpers {
	width: 96%;
	text-align: center;
	height: 20px;
}
#jumpers ul {
	list-style-type: none;
	padding:0; margin: 0;
}
#jumpers ul li {
		display: inline-block;
		width: 17px;
		height: 5px;
		background: #ffffff;
		margin: 0 5px;
		opacity: .75;
}
#jumpers ul li.current {
	background-color: #cc0000;
}
#jumpers ul li:hover {
	background-color: #cc0000;
	cursor: pointer;
}
#counter {
	display: none;
}